<div class="mt-5 flex align-items-center justify-content-center w-screen p2 flex-column">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off" class="p-fluid">

        <div class="field flex flex-column gap-1">
            <label for="email">Email</label>
            <input id="email" pInputText type="email" formControlName="email" autocomplete="new-email" placeholder="Digite seu email" />
        </div>

        <div class="field flex flex-column gap-1">
            <label for="senha">Senha</label>
            <input id="senha" pInputText type="password" formControlName="senha" autocomplete="new-password" placeholder="Digite sua senha" />
        </div>

        <button pButton type="submit" label="Entrar" [disabled]="loginForm.invalid"></button>
    </form>

</div>