/* You can add global styles to this file, and also import other style files */

/* Cores de texto */
:root{
    --texto-primario: #0f172a ;
    
}
 


body{
    padding: 0;
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:var(--texto-primario);
    overflow-x: hidden;
    background-color: var(--p-gray-50);
}

